* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

header {
    height: 500px;
    padding: 15px 0;
    background: url(../photo/jumbo.png) 50% 50% no-repeat;
    background-size: cover;
}

header::after{
    content: "";
    display: table;
    clear: both;
}

.logo-container {
    display: inline-block;
    padding: 0 100px;
    float: left;
}

.list {
    float: left;
    display: inline-block;
}

.list ul {
    list-style: none;
}

.list ul li {
    display: inline-block;
    margin:  8px 10px ;
    text-align: center;
    
}

.list a {
    color: white; 
}

a {
    text-decoration: none;
}

.login a {
    display: inline-block ;
    float: left;
    width: 90px;
    height: 30px;
    border-radius: 30px;
    border: 2px white solid;
    background-color: white;
    text-align: center;
    margin: 5px 50px ;
    line-height: 25px;
    color: black;
}

.box-text {
    width: 600px;
    margin: 180px auto;
    text-align: center;
}

.button-small {
    display: inline-block;
    background-color: white;
    width: 250px;
    height: 30px;
    border: 1px white solid ;
    border-radius: 40px;
}

.big-button{
    display: inline-block;
    width: 250px;
    background-color: rgb(31, 30, 30);
    color: white;
    height: 30px;
    border: 1px rgb(31, 30, 30) solid ;
    border-radius: 40px;
}