* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
    text-decoration: none;
}

header::after{
    content: "";
    display: table;
    clear: both;
}

header {
    height: 500px;
    padding: 15px 0;
    background: url(../photo/jumbo.png) 50% 50% no-repeat;
    background-size: cover;
}

.navbar {
    width: 1200px;
    margin: 0 auto;
}

.logo-container {
    padding: 0 100px;
    float: left;
}

.list {
    float: left;
    list-style: none;
}

.list ul li {
    display: inline-block;
    margin:  8px 10px ;
}

.list a {
    color: white; 
}

.login a {
    float: left;
    width: 90px;
    height: 30px;
    border-radius: 30px;
    border: 1px white solid;
    background-color: white;
    text-align: center;
    margin: 5px 50px ;
    line-height: 25px;
    color: black;
}

.box-text {
    width: 600px;
    margin: 130px auto;
    text-align: center;
    color: white;
}

.box-text h1 {
    font-size: 36px;
    margin-bottom: 35px;
}

.button-small a{
    color: black;
}

.big-button a {
    color: white;
}

/*---------*/

.button-small {
    display: inline-block;
    background-color: white;
    margin-top: 20px;
    width: 250px;
    height: 30px;
    border: 1px white solid ;
    border-radius: 40px;
    line-height: 25px;
    vertical-align: middle;
}

.big-button{
    display: inline-block;
    margin-top: 20px;
    width: 250px;
    background-color: rgb(31, 30, 30);
    color: white;
    height: 30px;
    border: 1px rgb(31, 30, 30) solid ;
    border-radius: 40px;
    line-height: 30px;
    vertical-align: middle;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.row {
    height: 500px;
}

.row-img {
    display: inline-block;
    float: left;
    width: 500px;
    margin: 80px 80px;
}

.row-img img {
    width: 600px;
}

.row-content {
    display: inline-block;
    float: left;
    width: 350px;
    margin: 80px 80px ;
}

.strong {
    font-weight: bold;
    font-size: 40px;
}

.text {
    margin-top: 20px;
    font-size: 19px;
}